:root {
  --header-height: 4rem;

  --color-text-primary: #222;
  --color-text-secondary: #666666;
  --white: #ffffff;
  --black: #000000;
  --color-pink: #f08c87;

  --color-yellow: #f0eb64;

  --color-blue: #008cba;
  --color-blue-hover: #007bb5;
  --color-blue-active: #005f8a;

  --color-green: #4caf50;
  --color-green-hover: #45a049;
  --color-green-active: #3e8e41;

  --color-red: #f44336;
  --color-red-hover: #da190b;
  --color-red-active: #a71d0d;

  --color-disabled-bg: #e0e0e0;
}
